<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_POWER</string>
		<key>value</key>
		<string>电源</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_MODE</string>
		<key>value</key>
		<string>模式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TEMP</string>
		<key>value</key>
		<string>温度</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TEMP_UP</string>
		<key>value</key>
		<string>温度+</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TEMP_DOWN</string>
		<key>value</key>
		<string>温度-</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRSWING_UD</string>
		<key>value</key>
		<string>垂直风向</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRSWING_LR</string>
		<key>value</key>
		<string>水平风向</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_FANSPEED</string>
		<key>value</key>
		<string>风速</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_SLEEP</string>
		<key>value</key>
		<string>睡眠</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TURBO</string>
		<key>value</key>
		<string>强劲</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_QUICK</string>
		<key>value</key>
		<string>快速</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRCLEAN</string>
		<key>value</key>
		<string>空气清净</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_WARMUP</string>
		<key>value</key>
		<string>电辅热</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_DISPLAY</string>
		<key>value</key>
		<string>显示</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_ANIMDISPLAY</string>
		<key>value</key>
		<string>动态显示</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_LOCK</string>
		<key>value</key>
		<string>锁定</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_DEMOLD</string>
		<key>value</key>
		<string>自体防霉</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_POWERSAVING</string>
		<key>value</key>
		<string>节电</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRSWAP</string>
		<key>value</key>
		<string>换气</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_SILENT</string>
		<key>value</key>
		<string>静音</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_RHYTHM</string>
		<key>value</key>
		<string>自然风</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_FUZZY</string>
		<key>value</key>
		<string>模糊控制</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_SENSING</string>
		<key>value</key>
		<string>随身感</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_LIGHT</string>
		<key>value</key>
		<string>灯光</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_PRESET</string>
		<key>value</key>
		<string>一键爽</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_MOTION_SENSING</string>
		<key>value</key>
		<string>动感仪</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_LIGHT_SENSING</string>
		<key>value</key>
		<string>光感仪</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_ONTIMER</string>
		<key>value</key>
		<string>定时开机</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_OFFTIMER</string>
		<key>value</key>
		<string>定时关机</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TIMER</string>
		<key>value</key>
		<string>定时设定</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_POINTER</string>
		<key>value</key>
		<string>Pointer</string>
	</dict>
</array>
</plist>
