<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_POWER</string>
		<key>value</key>
		<string>電源</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_MODE</string>
		<key>value</key>
		<string>模式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TEMP</string>
		<key>value</key>
		<string>溫度</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TEMP_UP</string>
		<key>value</key>
		<string>溫度+</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TEMP_DOWN</string>
		<key>value</key>
		<string>溫度-</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRSWING_UD</string>
		<key>value</key>
		<string>垂直風向</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRSWING_LR</string>
		<key>value</key>
		<string>水平風向</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_FANSPEED</string>
		<key>value</key>
		<string>風速</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_SLEEP</string>
		<key>value</key>
		<string>睡眠</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TURBO</string>
		<key>value</key>
		<string>強勁</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_QUICK</string>
		<key>value</key>
		<string>快速</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRCLEAN</string>
		<key>value</key>
		<string>空氣清淨</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_WARMUP</string>
		<key>value</key>
		<string>電輔熱</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_DISPLAY</string>
		<key>value</key>
		<string>顯示</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_ANIMDISPLAY</string>
		<key>value</key>
		<string>動態顯示</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_LOCK</string>
		<key>value</key>
		<string>鎖定</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_DEMOLD</string>
		<key>value</key>
		<string>自體防霉</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_POWERSAVING</string>
		<key>value</key>
		<string>節電</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_AIRSWAP</string>
		<key>value</key>
		<string>換氣</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_SILENT</string>
		<key>value</key>
		<string>靜音</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_RHYTHM</string>
		<key>value</key>
		<string>自然風</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_FUZZY</string>
		<key>value</key>
		<string>模糊控制</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_SENSING</string>
		<key>value</key>
		<string>隨身感</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_LIGHT</string>
		<key>value</key>
		<string>燈光</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_PRESET</string>
		<key>value</key>
		<string>一鍵爽</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_MOTION_SENSING</string>
		<key>value</key>
		<string>動感儀</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_LIGHT_SENSING</string>
		<key>value</key>
		<string>光感儀</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_ONTIMER</string>
		<key>value</key>
		<string>定時開機</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_OFFTIMER</string>
		<key>value</key>
		<string>定時關機</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_ACKEY_TIMER</string>
		<key>value</key>
		<string>定時設定</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_POINTER</string>
		<key>value</key>
		<string>Pointer</string>
	</dict>
</array>
</plist>
