<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IR_KEY_POWER_TOGGLE</string>
		<key>value</key>
		<string>电源</string>
	</dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_VOLUME_UP</string>
        <key>value</key>
        <string>音量+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_VOLUME_DOWN</string>
        <key>value</key>
        <string>音量-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MUTING</string>
        <key>value</key>
        <string>静音</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_PLAY_PAUSE</string>
        <key>value</key>
        <string>播放/暂停</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_STOP</string>
        <key>value</key>
        <string>停止</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MENU</string>
        <key>value</key>
        <string>菜单</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_UP</string>
        <key>value</key>
        <string>上</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_DOWN</string>
        <key>value</key>
        <string>下</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_LEFT</string>
        <key>value</key>
        <string>左</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_RIGHT</string>
        <key>value</key>
        <string>右</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_OK</string>
        <key>value</key>
        <string>OK</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_PAUSE</string>
        <key>value</key>
        <string>暂停</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SKIP_FORWARD</string>
        <key>value</key>
        <string>快进</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SKIP_REVERSE</string>
        <key>value</key>
        <string>快退</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_PREVIOUS</string>
        <key>value</key>
        <string>上一章节</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_NEXT</string>
        <key>value</key>
        <string>下一章节</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_0</string>
        <key>value</key>
        <string>0</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_1</string>
        <key>value</key>
        <string>1</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_2</string>
        <key>value</key>
        <string>2</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_3</string>
        <key>value</key>
        <string>3</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_4</string>
        <key>value</key>
        <string>4</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_5</string>
        <key>value</key>
        <string>5</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_6</string>
        <key>value</key>
        <string>6</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_7</string>
        <key>value</key>
        <string>7</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_8</string>
        <key>value</key>
        <string>8</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_9</string>
        <key>value</key>
        <string>9</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DIG_100</string>
        <key>value</key>
        <string>-/--</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_GUIDE</string>
        <key>value</key>
        <string>指南</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_LIST</string>
        <key>value</key>
        <string>列表</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_AUDIO_EFFECT</string>
        <key>value</key>
        <string>音效</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MIC_UP</string>
        <key>value</key>
        <string>MIC+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MIC_DOWN</string>
        <key>value</key>
        <string>MIC-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_EHCO_UP</string>
        <key>value</key>
        <string>EHCO+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_EHCO_DOWN</string>
        <key>value</key>
        <string>EHCO-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_TITLE</string>
        <key>value</key>
        <string>标题</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_TRE_UP</string>
        <key>value</key>
        <string>TRE+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_TRE_DOWN</string>
        <key>value</key>
        <string>TRE-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_BAS_UP</string>
        <key>value</key>
        <string>BAS+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_BAS_DOWN</string>
        <key>value</key>
        <string>BAS-</string>
    </dict>
</array>
</plist>
