<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IR_KEY_POWER_TOGGLE</string>
		<key>value</key>
		<string>電源</string>
	</dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_TAKEOUT</string>
        <key>value</key>
        <string>退片</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_VOLUME_UP</string>
        <key>value</key>
        <string>音量+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_VOLUME_DOWN</string>
        <key>value</key>
        <string>音量-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MUTING</string>
        <key>value</key>
        <string>靜音</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_PLAY_PAUSE</string>
        <key>value</key>
        <string>播放/暫停</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_STOP</string>
        <key>value</key>
        <string>停止</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SKIP_FORWARD</string>
        <key>value</key>
        <string>快進</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SKIP_REVERSE</string>
        <key>value</key>
        <string>快退</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_PREVIOUS</string>
        <key>value</key>
        <string>上一章節</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_NEXT</string>
        <key>value</key>
        <string>下一章節</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_RETURN</string>
        <key>value</key>
        <string>返回</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MENU</string>
        <key>value</key>
        <string>目錄</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_UP</string>
        <key>value</key>
        <string>上</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_DOWN</string>
        <key>value</key>
        <string>下</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_LEFT</string>
        <key>value</key>
        <string>左</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_RIGHT</string>
        <key>value</key>
        <string>右</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_OK</string>
        <key>value</key>
        <string>OK</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SUBTITLE</string>
        <key>value</key>
        <string>字幕</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_HOME</string>
        <key>value</key>
        <string>首頁</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_EXIT</string>
        <key>value</key>
        <string>退出</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DISPLAY</string>
        <key>value</key>
        <string>屏顯</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SLOWPLAY</string>
        <key>value</key>
        <string>慢放</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SETUP</string>
        <key>value</key>
        <string>設置</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_REPETITION</string>
        <key>value</key>
        <string>重復</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SELECT</string>
        <key>value</key>
        <string>選項</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_HELP</string>
        <key>value</key>
        <string>幫助</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_KARAOKE</string>
        <key>value</key>
        <string>卡拉OK</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_ZOOM</string>
        <key>value</key>
        <string>縮放</string>
    </dict>
</array>
</plist>
