<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IR_KEY_FAN_LIGHT</string>
		<key>value</key>
		<string>灯光</string>
	</dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_POWER</string>
        <key>value</key>
        <string>电源</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SPEED_UP</string>
        <key>value</key>
        <string>风速+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SPEED_DOWN</string>
        <key>value</key>
        <string>风速-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SWING</string>
        <key>value</key>
        <string>摆头</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_TIMER</string>
        <key>value</key>
        <string>定时</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_TIMER_UP</string>
        <key>value</key>
        <string>定时+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_TIMER_DOWN</string>
        <key>value</key>
        <string>定时-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SLEEP</string>
        <key>value</key>
        <string>睡眠</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_MODE</string>
        <key>value</key>
        <string>模式</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_MODE_NORMAL</string>
        <key>value</key>
        <string>正常模式</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_MODE_AI</string>
        <key>value</key>
        <string>智慧模式</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_MODE_FOREST</string>
        <key>value</key>
        <string>森林模式</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_TIMER_ON</string>
        <key>value</key>
        <string>定时开</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_TIMER_OFF</string>
        <key>value</key>
        <string>定时关</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_ECO</string>
        <key>value</key>
        <string>ECO</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_RHYTHM</string>
        <key>value</key>
        <string>自然风</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SWING_UD</string>
        <key>value</key>
        <string>上下摆头</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SWING_LR</string>
        <key>value</key>
        <string>左右摆头</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DUMMY</string>
        <key>value</key>
        <string></string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_0</string>
        <key>value</key>
        <string>0</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_1</string>
        <key>value</key>
        <string>1</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_2</string>
        <key>value</key>
        <string>2</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_3</string>
        <key>value</key>
        <string>3</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_4</string>
        <key>value</key>
        <string>4</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_5</string>
        <key>value</key>
        <string>5</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_6</string>
        <key>value</key>
        <string>6</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_7</string>
        <key>value</key>
        <string>7</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_8</string>
        <key>value</key>
        <string>8</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_DIG_9</string>
        <key>value</key>
        <string>9</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_COLDAIR</string>
        <key>value</key>
        <string>冷风</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_HIGH</string>
        <key>value</key>
        <string>高</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_MIDDLE</string>
        <key>value</key>
        <string>中</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_LOW</string>
        <key>value</key>
        <string>低</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_WARMBRAW</string>
        <key>value</key>
        <string>暖风</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_CONTINUOUSHIGH</string>
        <key>value</key>
        <string>连续上</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_CONTINUOUSLOW</string>
        <key>value</key>
        <string>连续下</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_CONTINUOUSLEFT</string>
        <key>value</key>
        <string>连续左</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_CONTINUOUSRIGHT</string>
        <key>value</key>
        <string>连续右</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_WINDCLASS</string>
        <key>value</key>
        <string>风类</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_NEGATIVEION</string>
        <key>value</key>
        <string>负离子</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_MUTING</string>
        <key>value</key>
        <string>静音</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_HUMIDIFICATION</string>
        <key>value</key>
        <string>加湿</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_AIRVOLUME</string>
        <key>value</key>
        <string>风量</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_WINDSPEED</string>
        <key>value</key>
        <string>风速</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SETUP</string>
        <key>value</key>
        <string>设定</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_POWERSAVING</string>
        <key>value</key>
        <string>节能</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_TEMP</string>
        <key>value</key>
        <string>温度</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_STARTINGUP</string>
        <key>value</key>
        <string>开机</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_SHUTDOWN</string>
        <key>value</key>
        <string>关机</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FAN_STOPSHAKING</string>
        <key>value</key>
        <string>摇头停</string>
    </dict>
</array>
</plist>
