<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IR_KEY_POWER_TOGGLE</string>
		<key>value</key>
		<string>電源</string>
	</dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_VOLUME_UP</string>
        <key>value</key>
        <string>音量+</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_VOLUME_DOWN</string>
        <key>value</key>
        <string>音量-</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MUTING</string>
        <key>value</key>
        <string>靜音</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_PLAY_PAUSE</string>
        <key>value</key>
        <string>播放/暫停</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_STOP</string>
        <key>value</key>
        <string>停止</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MENU</string>
        <key>value</key>
        <string>菜單</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_UP</string>
        <key>value</key>
        <string>上</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_DOWN</string>
        <key>value</key>
        <string>下</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_LEFT</string>
        <key>value</key>
        <string>左</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CURSOR_RIGHT</string>
        <key>value</key>
        <string>右</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_OK</string>
        <key>value</key>
        <string>OK</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SKIP_FORWARD</string>
        <key>value</key>
        <string>快進</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_SKIP_REVERSE</string>
        <key>value</key>
        <string>快退</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_PREVIOUS</string>
        <key>value</key>
        <string>上一章節</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_NEXT</string>
        <key>value</key>
        <string>下一章節</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_RETURN</string>
        <key>value</key>
        <string>返回</string>
    </dict>
</array>
</plist>
