<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IR_KEY_POWER_TOGGLE</string>
		<key>value</key>
		<string>電源</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SLEEP</string>
		<key>value</key>
		<string>睡眠</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_0</string>
		<key>value</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_1</string>
		<key>value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_2</string>
		<key>value</key>
		<string>2</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_3</string>
		<key>value</key>
		<string>3</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_4</string>
		<key>value</key>
		<string>4</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_5</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_6</string>
		<key>value</key>
		<string>6</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_7</string>
		<key>value</key>
		<string>7</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_8</string>
		<key>value</key>
		<string>8</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_9</string>
		<key>value</key>
		<string>9</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIG_100</string>
		<key>value</key>
		<string>-/--</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_RETURN</string>
		<key>value</key>
		<string>返回</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CHANNEL_UP</string>
		<key>value</key>
		<string>頻道+</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CHANNEL_DOWN</string>
		<key>value</key>
		<string>頻道-</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_LAST_CHANNEL</string>
		<key>value</key>
		<string>返回頻道</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SEARCH</string>
		<key>value</key>
		<string>頻道搜尋</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SIGNAL_STRENGTH</string>
		<key>value</key>
		<string>訊號強度</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PRESET</string>
		<key>value</key>
		<string>預設頻道</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_VOLUME_UP</string>
		<key>value</key>
		<string>音量+</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_VOLUME_DOWN</string>
		<key>value</key>
		<string>音量-</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MUTING</string>
		<key>value</key>
		<string>靜音-</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_AUDIO_ECHO</string>
		<key>value</key>
		<string>回音</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_AUDIO_TRACK</string>
		<key>value</key>
		<string>聲道</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SAP_CC</string>
		<key>value</key>
		<string>雙語</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_AUDIO_SURROUND</string>
		<key>value</key>
		<string>環繞音效</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_AUDIO</string>
		<key>value</key>
		<string>聲音設定</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_AUDIO_EFFECT</string>
		<key>value</key>
		<string>音效模式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MENU</string>
		<key>value</key>
		<string>目錄</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CURSOR_UP</string>
		<key>value</key>
		<string>上</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CURSOR_DOWN</string>
		<key>value</key>
		<string>下</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CURSOR_LEFT</string>
		<key>value</key>
		<string>左</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CURSOR_RIGHT</string>
		<key>value</key>
		<string>右</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_OK</string>
		<key>value</key>
		<string>OK</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_BACK</string>
		<key>value</key>
		<string>返回</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_EXIT</string>
		<key>value</key>
		<string>離開</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_HOME</string>
		<key>value</key>
		<string>首頁</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SUBMENU</string>
		<key>value</key>
		<string>副目錄</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PAGE_UP</string>
		<key>value</key>
		<string>上一頁</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PAGE_DOWN</string>
		<key>value</key>
		<string>下一頁</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PIP_ON_OFF</string>
		<key>value</key>
		<string>子母畫面</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PIP_UP</string>
		<key>value</key>
		<string>子頻道+</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PIP_DOWN</string>
		<key>value</key>
		<string>子頻道-</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PIP_SWAP</string>
		<key>value</key>
		<string>子母訊號交換</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PIP_INPUT</string>
		<key>value</key>
		<string>子訊號輸入</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PIP_POSITION</string>
		<key>value</key>
		<string>子畫面位置</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PIP_SIZE</string>
		<key>value</key>
		<string>子畫面尺寸</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_TV_AV</string>
		<key>value</key>
		<string>TV/AV</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT</string>
		<key>value</key>
		<string>輸入切換</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_TV</string>
		<key>value</key>
		<string>電視</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_AV</string>
		<key>value</key>
		<string>AV</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_AV1</string>
		<key>value</key>
		<string>AV1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_AV2</string>
		<key>value</key>
		<string>AV2</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_HDMI</string>
		<key>value</key>
		<string>HDMI</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_HDMI1</string>
		<key>value</key>
		<string>HDMI 1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_HDMI2</string>
		<key>value</key>
		<string>HDMI 2</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_DTV</string>
		<key>value</key>
		<string>數位電視</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_PC</string>
		<key>value</key>
		<string>電腦</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_COMPONENT</string>
		<key>value</key>
		<string>色差輸入</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_SVIDEO</string>
		<key>value</key>
		<string>S-Video</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INPUT_RADIO</string>
		<key>value</key>
		<string>收音機</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_NET_TV</string>
		<key>value</key>
		<string>網路電視</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PLAY</string>
		<key>value</key>
		<string>播放</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PAUSE</string>
		<key>value</key>
		<string>暫停</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_STOP</string>
		<key>value</key>
		<string>停止</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SKIP_FORWARD</string>
		<key>value</key>
		<string>快進</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SKIP_REVERSE</string>
		<key>value</key>
		<string>快退</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_RECORD</string>
		<key>value</key>
		<string>錄影</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_NEXT</string>
		<key>value</key>
		<string>下一章節</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PREVIOUS</string>
		<key>value</key>
		<string>上一章節</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_RECORD_TIMER</string>
		<key>value</key>
		<string>預約錄影</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_RECORD_INFO</string>
		<key>value</key>
		<string>錄影節目表</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PROGRAM_GUIDE</string>
		<key>value</key>
		<string>節目導覽</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INFO</string>
		<key>value</key>
		<string>節目資訊</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FAVORITE</string>
		<key>value</key>
		<string>喜愛節目</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FAVORITE_UP</string>
		<key>value</key>
		<string>喜愛頻道+</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FAVORITE_DOWN</string>
		<key>value</key>
		<string>喜愛頻道-</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_RED</string>
		<key>value</key>
		<string>紅</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_GREEN</string>
		<key>value</key>
		<string>綠</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_YELLOW</string>
		<key>value</key>
		<string>黃</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_BLUE</string>
		<key>value</key>
		<string>藍</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INTERNET</string>
		<key>value</key>
		<string>網際網路</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_USB</string>
		<key>value</key>
		<string>USB</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_EXPLORER</string>
		<key>value</key>
		<string>瀏覽器</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MULTIMEDIA</string>
		<key>value</key>
		<string>多媒體</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CAM</string>
		<key>value</key>
		<string>攝影機</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CAPTURE</string>
		<key>value</key>
		<string>擷取畫面</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_IME</string>
		<key>value</key>
		<string>輸入法</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SETUP</string>
		<key>value</key>
		<string>設定</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_APPS</string>
		<key>value</key>
		<string>APPs</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_HELP</string>
		<key>value</key>
		<string>幫助</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ASPECT_RATIO</string>
		<key>value</key>
		<string>寬螢幕</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_STILL</string>
		<key>value</key>
		<string>畫面靜止</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DISPLAY</string>
		<key>value</key>
		<string>顯示</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_3D</string>
		<key>value</key>
		<string>3D</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ANGLE</string>
		<key>value</key>
		<string>視角</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SUBTITLE</string>
		<key>value</key>
		<string>字幕</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PICTURE</string>
		<key>value</key>
		<string>畫質設定</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DEFAULT</string>
		<key>value</key>
		<string>默認</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ZOOM_IN</string>
		<key>value</key>
		<string>放大</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ZOOM_OUT</string>
		<key>value</key>
		<string>縮小</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MOUSE</string>
		<key>value</key>
		<string>滑鼠</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DELETE</string>
		<key>value</key>
		<string>刪除</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_GAME</string>
		<key>value</key>
		<string>遊戲</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_GUIDE</string>
		<key>value</key>
		<string>指南</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_BROADCAST</string>
		<key>value</key>
		<string>廣播</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_LOOK_BACK</string>
		<key>value</key>
		<string>回看</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FIGURE_EFFECT</string>
		<key>value</key>
		<string>圖效</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_INTERACTION</string>
		<key>value</key>
		<string>互動</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_JIN</string>
		<key>value</key>
		<string>#</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_POSITIONING</string>
		<key>value</key>
		<string>定位</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CLASSIFING</string>
		<key>value</key>
		<string>分類</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CINEMA</string>
		<key>value</key>
		<string>影院</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ITV</string>
		<key>value</key>
		<string>iTV</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FN</string>
		<key>value</key>
		<string>Fn</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ADVANCE_NOTICE</string>
		<key>value</key>
		<string>預告</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SMART_CARD</string>
		<key>value</key>
		<string>智能卡</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_COMPILE</string>
		<key>value</key>
		<string>編輯</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CALENDAR</string>
		<key>value</key>
		<string>日歷</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MOSAIC</string>
		<key>value</key>
		<string>馬賽克</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FIGURE_SQUARE</string>
		<key>value</key>
		<string>數字廣場</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_STATE</string>
		<key>value</key>
		<string>狀態</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_LIST</string>
		<key>value</key>
		<string>列表</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_COLLECT</string>
		<key>value</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_UPGRADE</string>
		<key>value</key>
		<string>升級</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_RESET</string>
		<key>value</key>
		<string>復位</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CONTENT</string>
		<key>value</key>
		<string>內容</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CHINESE_ENGLISH</string>
		<key>value</key>
		<string>中/英</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PROPORTION</string>
		<key>value</key>
		<string>比例</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_LANGUAGE</string>
		<key>value</key>
		<string>語言</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DEMP</string>
		<key>value</key>
		<string>DEMP</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_F9</string>
		<key>value</key>
		<string>F9</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_I</string>
		<key>value</key>
		<string>i</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_TURNING_LEFT</string>
		<key>value</key>
		<string>左轉</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_TURNING_RIGHT</string>
		<key>value</key>
		<string>右轉</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SCANNING_SYSTEM_PAL</string>
		<key>value</key>
		<string>圖像制式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SOUND_SYSTEM_PAL</string>
		<key>value</key>
		<string>聲音制式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MITV</string>
		<key>value</key>
		<string>mitv</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PHONE_BOOK</string>
		<key>value</key>
		<string>電話本</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_GUIDING</string>
		<key>value</key>
		<string>導航</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_EXCHANGE</string>
		<key>value</key>
		<string>互換</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_LOCTION</string>
		<key>value</key>
		<string>位置</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SELECT</string>
		<key>value</key>
		<string>選擇</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MICROPHONE</string>
		<key>value</key>
		<string>麥克風</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_OPENING_CLOSING</string>
		<key>value</key>
		<string>開/關</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DISPLAY_MODE</string>
		<key>value</key>
		<string>顯示模式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SHARE</string>
		<key>value</key>
		<string>分享</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FUNCTION</string>
		<key>value</key>
		<string>功能</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_F10</string>
		<key>value</key>
		<string>F10</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CLEAR</string>
		<key>value</key>
		<string>清除</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ALL_PURPOSE_LOCK</string>
		<key>value</key>
		<string>萬能鎖</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ORIGINAL_SOUND</string>
		<key>value</key>
		<string>原聲</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_APPOINTINT</string>
		<key>value</key>
		<string>預約</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CRUEL_K1</string>
		<key>value</key>
		<string>酷K1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_Vll</string>
		<key>value</key>
		<string>Vll</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_IMAGE_MODEL</string>
		<key>value</key>
		<string>圖像模式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SOUND_MODE</string>
		<key>value</key>
		<string>聲音模式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FREQUENT_PROGRAM</string>
		<key>value</key>
		<string>常看節目</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KRY_MO_CARD</string>
		<key>value</key>
		<string>模卡</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SOFT_KEYBOARD</string>
		<key>value</key>
		<string>軟鍵盤</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_NATIVE_PLACE</string>
		<key>value</key>
		<string>本地</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DEMONSTRATION</string>
		<key>value</key>
		<string>演示</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_COLOR_TEMPERATURE</string>
		<key>value</key>
		<string>色溫</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_TONE_QUALITY</string>
		<key>value</key>
		<string>音質</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_IMAGE_QUALITY</string>
		<key>value</key>
		<string>畫質</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_OVERTURN</string>
		<key>value</key>
		<string>翻轉</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_EYESHIELD</string>
		<key>value</key>
		<string>護眼</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SHORTCUT</string>
		<key>value</key>
		<string>快捷</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CAPACITY</string>
		<key>value</key>
		<string>智能</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MUSIC_TEACHING</string>
		<key>value</key>
		<string>樂教</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_AUDIO-TRACK</string>
		<key>value</key>
		<string>音軌</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_BROWSE</string>
		<key>value</key>
		<string>瀏覽</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR-KEY_ALONE_LISTEN</string>
		<key>value</key>
		<string>單獨聽</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_STEREO</string>
		<key>value</key>
		<string>麗音</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_COMPONENT</string>
		<key>value</key>
		<string>分量</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_CC</string>
		<key>value</key>
		<string>CC</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MTS</string>
		<key>value</key>
		<string>MTS</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_P_MODE</string>
		<key>value</key>
		<string>P.MODE</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_E_MODE</string>
		<key>value</key>
		<string>E.MODE</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_P_SIZE</string>
		<key>value</key>
		<string>P.SIZE</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_P_SIZE</string>
		<key>value</key>
		<string>P.SIZE</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_LINK</string>
		<key>value</key>
		<string>W.LINK</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MOVING</string>
		<key>value</key>
		<string>移動</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SCREEN_MEMO</string>
		<key>value</key>
		<string>螢幕備忘</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_VGA</string>
		<key>value</key>
		<string>VGA</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_IMAGE</string>
		<key>value</key>
		<string>圖像</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DIGIT</string>
		<key>value</key>
		<string>數位</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PROGRAM</string>
		<key>value</key>
		<string>節目</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DOCUMENT</string>
		<key>value</key>
		<string>文件</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_BASS</string>
		<key>value</key>
		<string>低音</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SYSTEM</string>
		<key>value</key>
		<string>系統</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_U_DTR_MENU</string>
		<key>value</key>
		<string>U-DTR目錄</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_RECORDCONTROL</string>
		<key>value</key>
		<string>錄制管理</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ROTATION</string>
		<key>value</key>
		<string>旋轉</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_REPETITION</string>
		<key>value</key>
		<string>重復</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_WATCH</string>
		<key>value</key>
		<string>收看</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FORECAST</string>
		<key>value</key>
		<string>預測</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PRINT</string>
		<key>value</key>
		<string>PRINT</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SLIDE_SHOW</string>
		<key>value</key>
		<string>SLIDE SHOW</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_IMAGE_ORGANIZER</string>
		<key>value</key>
		<string>IMAGE ORGANIZER</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_NORMAL</string>
		<key>value</key>
		<string>NORMAL</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_NEWS</string>
		<key>value</key>
		<string>新聞</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SPORTS</string>
		<key>value</key>
		<string>體育</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_FILM_TELEVISION</string>
		<key>value</key>
		<string>影視</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_COMPREHENSIVEE</string>
		<key>value</key>
		<string>綜合</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KRY_STRAMING_MEDIA</string>
		<key>value</key>
		<string>串流媒體</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DSP</string>
		<key>value</key>
		<string>DSP</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DSP_MENU</string>
		<key>value</key>
		<string>DSP菜單</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_PAL</string>
		<key>value</key>
		<string>制式</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR-KEY_SOUND</string>
		<key>value</key>
		<string>音響</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_TEXT</string>
		<key>value</key>
		<string>TEXT</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_GOTO</string>
		<key>value</key>
		<string>GOTO</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DOT</string>
		<key>value</key>
		<string>.</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KRY_SAT</string>
		<key>value</key>
		<string>SAT</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ASPECT</string>
		<key>value</key>
		<string>ASPECT</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_SMODE</string>
		<key>value</key>
		<string>S.MODE</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ENTER</string>
		<key>value</key>
		<string>輸入</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_AUTO</string>
		<key>value</key>
		<string>Auto</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MHEGCANSEL</string>
		<key>value</key>
		<string>MHEGCANSEL</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_Ambilight</string>
		<key>value</key>
		<string>Ambilight</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_Aa</string>
		<key>value</key>
		<string>Aa</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_e_MANUAL</string>
		<key>value</key>
		<string>電子選單</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ECO</string>
		<key>value</key>
		<string>ECO</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_MPX</string>
		<key>value</key>
		<string>MPX</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_DUMMY</string>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>key</key>
		<string>IR_KEY_ADJ</string>
		<key>value</key>
		<string>ADJ</string>
	</dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_VOD</string>
        <key>value</key>
        <string>點播</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_STORK</string>
        <key>value</key>
        <string>股票</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_NOTE</string>
        <key>value</key>
        <string>筆記</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_INFORMATION</string>
        <key>value</key>
        <string>訊息</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_MAIL</string>
        <key>value</key>
        <string>郵件</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_XING</string>
        <key>value</key>
        <string>*</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_TV_BROADCAST</string>
        <key>value</key>
        <string>電視/廣播</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_RESERVE</string>
        <key>value</key>
        <string>預定</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CUT</string>
        <key>value</key>
        <string>切換</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_TELECAST</string>
        <key>value</key>
        <string>直播</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_APPLY</string>
        <key>value</key>
        <string>應用</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_REMIND</string>
        <key>value</key>
        <string>提醒</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_DESKTOP</string>
        <key>value</key>
        <string>桌面</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_TIME_SHIFTING</string>
        <key>value</key>
        <string>時移</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F1</string>
        <key>value</key>
        <string>F1</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F2</string>
        <key>value</key>
        <string>F2</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F3</string>
        <key>value</key>
        <string>F3</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F4</string>
        <key>value</key>
        <string>F4</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_FULLSCREEN</string>
        <key>value</key>
        <string>全螢幕</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_EPG</string>
        <key>value</key>
        <string>EPG</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_CLOCK</string>
        <key>value</key>
        <string>時鐘</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F5</string>
        <key>value</key>
        <string>F5</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F6</string>
        <key>value</key>
        <string>F6</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F7</string>
        <key>value</key>
        <string>F7</string>
    </dict>
    <dict>
        <key>key</key>
        <string>IR_KEY_F8</string>
        <key>value</key>
        <string>F8</string>
    </dict>
</array>
</plist>
